@import 'variables';

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.form-select:focus {   
  border-color: $tertiary-color;
  box-shadow: none;
  outline: 0 none;
}


button:focus,
.btn:focus {   
  border: none;
  box-shadow: none;
  outline: none;
}


.form-check-input:checked, .form-check-input:focus {
  background-color: #F25430;
  border-color: #F25430;
  color: #F25430;
  border: none;
  box-shadow: none;
  outline: none;
}