// Open_Sans //

@font-face {
  font-family: 'Open_Sans-Light';
  src: local('Open_Sans-Light'), url(../assets/fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open_Sans-Regular';
  src: local('Open_Sans-Regular'), url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open_Sans-SemiBold';
  src: local('Open_Sans-SemiBold'), url(../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open_Sans-Bold';
  src: local('Open_Sans-Bold'), url(../assets/fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}



// Rajdhani //

@font-face {
  font-family: 'Rajdhani-Medium';
  src: local('Rajdhani-Medium'), url(../assets/fonts/Rajdhani/Rajdhani-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: local('Rajdhani-SemiBold'), url(../assets/fonts/Rajdhani/Rajdhani-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Rajdhani-Bold';
  src: local('Rajdhani-Bold'), url(../assets/fonts/Rajdhani/Rajdhani-Bold.ttf) format('truetype');
}